* {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1em;
  zoom: 1;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Outfit";
  font-style: normal;
  color: rgba(26, 42, 51, 1);
  background: #1a2a33;

  width: 100%;
  height: 100%;
  position: relative;
}

.App {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display__players {
  width: 71px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: 87px;
}

.display__players-img {
  width: 31px;
  height: 31px;
}

.display-wrapper {
  width: 456px;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.display__status {
  width: 140px;
  height: 52px;
  background: #1f3641;
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 108px;
  padding-bottom: 5px;
}

.display__status-content {
  width: 80px;
  height: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #a8bfc9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display__status-img {
  width: 20px;
  height: 20px;
  color: #a8bfc9;
  margin-right: 13px;
}

.game {
  width: 460px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  margin-bottom: 19px;
}

.game__cell {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
}

.game__cell img {
  max-width: 64px;
  max-height: 64px;
}

.game_cell__win {
  background-color: #cc8b13;
}

.game__cell__O:hover {
  background-image: url("./assets/img/Oval-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.game__cell__X:hover {
  background-image: url("./assets/img/plus-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display {
  width: 140px;
  height: 72px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.display-blue {
  background: #31c3bd;
}
.display-grey {
  background: #a8bfc9;
}
.display-orange {
  background: #f2b137;
}

.display__value {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.display__button_restart {
  width: 52px;
  height: 52px;
  border: 0;
  cursor: pointer;

  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
}
.display__button_restart:hover {
  background: #dbe8ed;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
}

.button__restart-img {
  width: 20px;
  height: 20px;
}

.winner-container-background {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.winner-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1f3641;
}
.hide {
  display: none;
}

.winner-container {
  width: 491px;
  height: 176px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 45px;
}

.winner-container-restart {
  width: 351px;
  height: 133px;
  margin: 68px;
}

.winner-container-tied {
  width: 270px;
  height: 133px;
  margin: 67px;
}

.winner-container__status {
  color: #a8bfc9;
}

.winner-container__subject {
  height: 64px;
  width: 491px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2b137;
}

.winner-container__subject-img {
  width: 64px;
  height: 64px;
}

.winner-container__subject-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2.5px;
}

.subject-title-tied {
  color: #a8bfc9;
}

.subject-title-restart {
  color: #a8bfc9;
}

.winner-container__subject-title-blue {
  color: #31c3bd;
}

.winner-container__buttons {
  width: 238px;
  display: flex;
  justify-content: space-between;
}

.winner-container__buttons__restart {
  width: 306px;
  display: flex;
  justify-content: space-between;
}

.button__winner-gray {
  height: 52px;
  width: 76px;

  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;

  border: 0;

  font-family: "Outfit";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1a2a33;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__winner-gray:hover {
  background: #dbe8ed;
}

.button__restart {
  width: 139px;
  padding: 0;
}

.button__winner-orange {
  width: 146px;
  height: 52px;

  background: #f2b137;
  box-shadow: inset 0px -4px 0px #cc8b13;
  border-radius: 10px;

  border: 0;

  font-family: "Outfit";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1a2a33;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__winner-orange:hover {
  background: #ffc860;
}

.headstarter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headstarter__icons {
  width: 71.97px;
  height: 32px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.icons__o,
.icons__x {
  width: 32px;
  height: 32px;
}

.headstarter__body {
  width: 100%;
  height: 205px;

  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 25px;
  margin-left: 25px;
}

.body__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;

  color: #a8bfc9;

  margin: 24px;
}

.body__selection-wrapper {
  width: 412px;
  height: 72px;

  background: #1a2a33;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 17px;
}

.body__selection {
  width: 396px;
  height: 54px;

  display: flex;
  cursor: pointer;
}

.selection__item {
  width: 50%;
  background: #1a2a33;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selection__item:hover {
  background: rgba(168, 191, 201, 0.05);
}

.selection__item-active {
  background: #a8bfc9;
}

.selection__item-active:hover {
  background: #a8bfc9;
}

.selection__item-img {
  width: 32px;
  height: 32px;
}

.body__reminder {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.875px;

  color: rgba(168, 191, 201, 1);
  opacity: 0.5;
}

.headstarter__buttons {
  display: flex;
  width: 100%;
  height: 154px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.buttons__vs-cpu {
  height: 67px;
  width: 100%;

  background: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.25px;
  color: #1a2a33;

  padding-bottom: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons__vs-cpu:hover {
  background: #ffc860;
}

.buttons__vs-player {
  height: 67px;
  width: 100%;

  background: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.25px;
  color: #1a2a33;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}

.buttons__vs-player:hover {
  background: #65e9e4;
}

@media (max-width: 1000px) {
  .container {
    width: 327px;
  }
  .body__selection-wrapper {
    width: 279px;
  }
  .body__selection {
    width: 262px;
  }
  .display-wrapper {
    width: 328px;
    margin-bottom: 64px;
  }

  .display__status {
    width: 96px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 74px;
    padding: 15px;
    padding-top: 10px;
  }
  .display__status-content {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.875px;

    width: 66px;
    height: 18px;
  }
  .display__status-img {
    width: 16px;
    height: 16px;
  }
  .display__button_restart {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button__restart-img {
    width: 15.38px;
    height: 15.38px;
  }
  .display__players-img {
    width: 32px;
    height: 32px;
  }
  .display__players {
    margin-right: 46px;
    width: 71px;
  }

  .game {
    width: 100%;
    margin-bottom: 20px;
  }

  .game__cell {
    width: 96px;
    height: 96px;
    background-size: 40px 40px;
  }

  .game__cell img {
    max-width: 40px;
    max-height: 40px;
  }
  .display {
    width: 96px;
    height: 64px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
  }
  .display__value {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
  }
  .display-grey {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.75px;
  }

  .winner-container {
    max-width: 279px;
    height: 140px;

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.875px;

    color: #a8bfc9;
  }
  .winner-container__subject {
    width: 280px;
    height: 30px;
  }
  .winner-container__subject-img {
    width: 28px;
    height: 28px;
  }
  .winner-container__subject-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  .winner-container-restart {
    height: 106px;
  }
}
